# Игнорировать файлы моделей
models/

# Игнорировать файлы данных
data/

# Игнорировать файлы логов и временные файлы
logs/
*.log
*.swp
*.swo

# Игнорировать файлы кэша Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорировать файлы кэша и настроек Visual Studio
.vs/
bin/
obj/
*.user
*.suo
*.cache
*.dll
*.pdb
*.exe

# Игнорировать файлы настроек и переменных окружения
.env
.venv
venv/
*.env